* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #191930;
}

h1, h3, p {
    color: #d3d3d3;
}

a {
    color: #d3d3d3;
    text-decoration: none;
}

a:hover {
    color: white;
}

#chicken, #steak {
    height: 250px;
    width: 150px;
}

li {
    color: #d3d3d3;
}

li::marker {
    color: #d3d3d3;
}

#broccoli-rice {
    height: 250px;
    width: 300px;
}